body {
    font-family: "Lato", sans-serif;
    
}

main {
    padding-top: 100px;
}

.abt {
    color: var(--unnamed-color-6cd1cb);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0px;
    color: #6CD1CB;
    opacity: 1;
}

#blog-layout {
    width: 90%;
    max-width: 70%;
    margin: 0 auto;
}

#title {
    margin: 20px auto;
}

#line {
    height: 2px;
    width: 100%;
    background: #6CD1CB;
    margin-top: 10px;
    margin-bottom: 30px;
}

#div-i {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    gap: 20px;
}

#sbox {
    margin-top: 15rem; 
    margin-left: 0;
    width: 8.3125rem; 
    height: 2.75rem; 
    border: 1px solid #6CD1CB;
    border-radius: 0.3125rem;
    opacity: 1;
    background: none;
    color: #000;    
}

#block-element-1 {
    width: 25rem;
    height: 15rem; 
    background: transparent url('img/Article 1.png') 0% 0% no-repeat padding-box;
    border-radius: 0.9375rem; 
    opacity: 1;
    margin-bottom: 5rem;
}

#block-element-2 {
    text-align: left;
    height: 3rem;
    font-size: 1.5rem; 
    font-weight: bold;
    margin: 0.9375rem; 
    margin-left: 0;
    margin-top: -4rem;
    padding: 0;
    color: #252525;
    opacity: 1;
}

#block-element-3 {
    height: 6rem;
    color: #252525;
    text-align: left;
    font-size: 1.125rem;
    opacity: 1;
}

#publication {
    height: 6rem;
    color: #252525;
    text-align: left;
    font-size: 1.125rem;
    opacity: 1;
    margin-top: 4.2rem;
}

#block-element-4 {
    margin-top: 1.25rem; 
    margin-left: 0;
    width: 8.3125rem; 
    height: 2.75rem; 
    border: 1px solid #6CD1CB;
    border-radius: 0.3125rem;
    opacity: 1;
    background: none;
    color: #000;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

#block-element-4:hover {
    background: #59bdb6; /* Slightly darker shade of the original color */
    transform: translateY(-5px); /* Adds a slight lift effect */
}

#toHide {
    display: none;
}

#sboxToHide {
    display: none;
}

/* Responsive styling */
@media (max-width: 1024px) {
    #div-i {
        grid-template-columns: 1fr 1fr;
    }

    #sbox {
        grid-column: span 2;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    #div-i {
        grid-template-columns: 1fr;
    }

    #sbox {
        grid-column: span 1;
        margin-top: 20px;
    }

    #blog-layout {
        width: 100%;
        max-width: 100%;
    }
    
}
