body {
    font-family: "Lato", sans-serif;
    
}
  .min-h-screen {
    min-height: 1vh;
  }

  #nav {
    width: 90%;
    max-width: 70%;
    margin: 0 auto;
    border: none;
    z-index: 1000;
  }

  #nav-items {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
  }

  #nav-items a {
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
 }


  #nav-items a:hover {
      color: #6CD1CB;
  }

  #position {
    position: fixed;
    min-width: 100%;
    background: #ffff;
    z-index: 1000;
}
  
  @media (max-width: 1024px) {
    #nav {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
      }
    
    #nav-items {
        display: flex;
        gap: 2px;
      }
}

  @media only screen and (max-width: 767px) {
    #nav {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }

    #nav-items {
        display: none;
      }
  }
  
