@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
    }
}

main {
    padding-top: 100px;
}

.abt {
    color: var(--unnamed-color-6cd1cb);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0px;
    color: #6CD1CB;
    opacity: 1;
}

#blog-layout {
    width: 90%;
    max-width: 70%;
    margin: 0 auto;
}

#title {
    margin: 20px auto;
}

#line {
    height: 2px;
    width: 100%;
    background: aqua;
    margin-top: 10px;
    margin-bottom: 30px;
}

#div-i {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    gap: 20px;
}

#sbox {
    margin-top: 15rem; 
    margin-left: 0;
    width: 8.3125rem; 
    height: 2.75rem; 
    border: 1px solid #6CD1CB;
    border-radius: 0.3125rem;
    opacity: 1;
    background: none;
    color: #000;    
}

#block-element-1 {
    width: 25rem;
    height: 27.125rem; 
    background: transparent url('img/Article 1.png') 0% 0% no-repeat padding-box;
    border-radius: 0.9375rem; 
    opacity: 1;
}

#block-element-2 {
    text-align: left;
    height: 3rem;
    font-size: 1.75rem; 
    font-weight: bold;
    margin: 0.9375rem; 
    margin-left: 0;
    margin-top: -4rem;
    padding: 0;
    color: #252525;
    opacity: 1;
}

#block-element-3 {
    height: 6rem;
    color: #252525;
    text-align: left;
    font-size: 1.125rem;
    opacity: 1;
}

#block-element-4 {
    margin-top: 1.25rem; 
    margin-left: 0;
    width: 8.3125rem; 
    height: 2.75rem; 
    border: 1px solid #6CD1CB;
    border-radius: 0.3125rem;
    opacity: 1;
    background: none;
    color: #000;
}

/* Responsive styling */
@media (max-width: 1024px) {
    #div-i {
        grid-template-columns: 1fr 1fr;
    }

    #sbox {
        grid-column: span 2;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    #div-i {
        grid-template-columns: 1fr;
    }

    #sbox {
        grid-column: span 1;
        margin-top: 20px;
    }

    #blog-layout {
        width: 100%;
        max-width: 100%;
    }
    
}
